* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* TEMPORARY STLYINGS */

.bg-image {
    background-image: url('https://source.unsplash.com/miziNqvJx5M');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 0.5rem;
    padding-bottom: 50%;
}

div {
    border: 2px solid white;
}


/* IMAGE STYLES */


/* UNIVERSAL STYLES */

body{
    font-family: 'Cormorant Infant', cursive, serif;
    color: #1B1B1E;
    background-color: #FDFCED;
}

ul {
    list-style-type: none;
}

aside {
	padding: 0;
	height: 85%;
	width: 100%;
	overflow: hidden;
	transition 0.5s;
	transition-delay: 0.5s;
}


/* UTILITY CLASSES */

    /* ----Padding Utility Classes---- */ 
.padded-sm { padding: 2.5%; }
.padded-md { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1 { padding: 1rem; }
.padded-2 { padding: 2rem; }

.padded-t { padding-top: 5%; }
.padded-b { padding-bottom: 5%; }
.padded-l { padding-left: 5%; }
.padded-r { padding-bottom: 5%; }

.padded-tb { padding-top: 5%; padding-bottom: 5%; }
.padded-lr { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-bottom: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-bottom: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-bottom: 0; }


    /* ----Margin Utility Classes---- */ 
.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }


    /* ---Background Image Utility Classes---- */
.portrait-tall  { padding-bottom: 175%; }
.portrait       { padding-bottom: 125%; }
.square         { padding-bottom: 100%; }
.landscape      { padding-bottom: 66%; }
.landscape-wide { padding-bottom: 56%; }


    /* ---Background Position---- */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


    /* ----Height Classes---- */
.tall-50    { min-height: 50vh; }
.tall-60    { min-height: 60vh; }
.tall-80    { min-height: 80vh; }
.tall-90    { min-height: 90vh; }
.tall-100   { min-height: 100vh; }    


    /* -----Other Positioning---- */
.vertical-centered {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



/* TYPOGRAPHY STYLES */


h1 {
    font-family: 'Fuggles', cursive, serif;
    font-size: 12rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

h3 { line-height: 1; }

p {
    font-weight: 200;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

p:last-child { margin-bottom: 0; }

a{
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #2C5530;
}

    /* ---Text Coloring--- */
.light-text     { color: #FDFCED;}
.dark-text      { color: #1B1B1E;}
.featured-text  { color: #ffbe00;}


    /* ---Text Sizing--- */
.sm-text { font-size: 1.5rem; }
.med-text { 
    font-size: 2rem;
    line-height: 1.1;
}
.big-text { font-size: 4.5rem; }



.subtitle { 
    font-size: 1.2rem;
    color: rgb(120, 120, 125);
}

.quote-icon {
    font-size: 6rem;
    display: inline-block;
    color: rgb(120, 120, 125);
    line-height: 1;
}

.font-weight-light     { font-weight: 400; }
.font-italic-light     { font-weight: 400,1; }
.font-weight-normal    { font-weight: 600; }
.font-italic-normal    { font-weight: 600,1; }
.font-weight-bold      { font-weight: 700; }
.font-italic-bold      { font-weight: 700,1; }

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }





/* HEADER & FOOTER STYLES */

.banner {
    background-image: url('images/dark-bg-plant.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
  }
  .fixed {
    background-attachment: fixed;
  }



/* NAVIGATION STYLES */

#home-nav {
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
}

nav a {
    display: inline-block;
	padding: .5rem .8rem;
	margin: .5rem .5rem .2rem .5rem;
}
nav div:last-child {
    margin-bottom: 0;
}

.headsection {
	position: relative;
	margin-bottom: 40px;
	display: flex;
	justify-content: flex-end;
}

.headsection img {
	position: relative;
	height: 70px;
	width: 70px;
}

.headsection img::before {
	/* position: absolute; */
	content: "";
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
	background: white;
}


.headsection::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background: #2C5530;
	bottom: -20px;
}

.navlinks ul li {
	width 100%
}

.navlinks ul li:not(li:last-child) {
	margin-bottom: 22px;
}

.navlinks ul li a span {
	color: #FDFCED;
	font-size: 2rem;
    display:inline-block;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.navlinks ul li:hover {
	background: linear-gradient(to right, rgba(255,0,0,0), rgba(44, 85, 48, 1));
}





/* BACKGROUND IMAGES */

.bg-succs {
    background-image: url("images/succulents.jpg");
    background-position: center;
    background-size: cover;
    min-height: 10rem;
}



/* ICON GRID */

.fas .far {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size:3rem;
}

.big-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}


/* LOGO STYLINGS */

.logo {
    max-height: 80px;
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 1rem;
}




/* CARD STYLES */

.bg-image span {
    text-transform: uppercase; 
    font-weight: 600;
  }
  
  .card {
    background-color: white;
    padding: 0;
  }
  
  .post-info {
    padding: 1rem;
  }
  
  .date {
    font-size: 0.8rem;
    color: rgb(90,90,90);
  }
  
  .card a {
    display: inline-block;
    margin-top: 1rem;
  }
  
  @media(max-width: 36em) {
    .latest-news {
      overflow-x: auto;
      flex-wrap: nowrap;
    }
  }